events { }

http {
    error_log /etc/nginx/error_log.log warn;
    client_max_body_size 20m;

    resolver 127.0.0.11 ipv6=off;

    server {
        listen 80;

        set $backend_url ${BACKEND_HOST}:${BACKEND_PORT};

        location /api/ {
            proxy_pass http://$backend_url;
        }

        location /embeddable-chat {
            try_files $uri $uri/ /index.html;
        }

        location /author-console {
            try_files $uri $uri/ /index.html;
        }
    }
}