@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Poppins:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #4b5c66;
}
.container {
  --light-color: #fff;
  height: 100%;
  width: 100%;
  background: var(--light-color);
  position: fixed;
  bottom: 0px;
  right: 0px;
  box-shadow: 0px 0px 15px 0px black;
}
.chat-header {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  background-color: #0652c0;
  color: var(--light-color);
  font-size: 1.5rem;
}

.chat-header .logo {
  height: 50px;
  width: 50px;
  box-shadow: 0px 0px 10px 0px black;
}
.chat-header img {
  height: 100%;
  width: 100%;
}
.chat-header .title {
  padding-left: 10px;
}
.chat-body {
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  align-items: flex-end;
  overflow-y: auto;
}
.chat-input {
  min-height: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  overflow-y: auto;
}
.input-sec {
  flex: 1;
  margin-right: 10px;
}
.send {
  flex: 0;
  padding: 8px;
  background: #fff;
  border: none;
  border-radius: 0 5px 5px 0; /* Форма кнопки (измените по своему вкусу) */
  cursor: pointer;
}
#txtInput {
  line-height: 30px;
  padding: 8px 10px;
  border: none;
  outline: none;
  caret-color: black;
  font-size: 1.3rem;
  width: 100%;
  resize: vertical;
}

.assistant-message,
.user-message {
  padding: 8px;
  background: #ccc;
  margin: 5px;
  max-width: 80%;
  width: max-content;
  border-radius: 10px 3px 10px 10px;
  word-wrap: break-word;
}
.assistant-message {
  background: #0652c0;
  color: var(--light-color);
  align-self: flex-start;
  border-radius: 10px 10px 3px 10px;
}