.App {
    display: flex;
    flex-flow: column nowrap;
    background-color: #383838;
    height: 100%;
}

.Header {
    flex: 0 0 5%;
}

.AppBody {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    /*height: 100%;*/
}

.LeftPanel {
    flex: 1;
}

.ConsoleBody {
    flex: 4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
    box-shadow: -5px 3px 5px -2px #000000;
    background-color: #ffffff;
    color: #383838;
    overflow-x: hidden;
}

.RightPanel {
    flex: 1;
}

.Footer {
    flex: 0 0 5%;
}
